<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 resource not found</title>

  <!--STYLES START-->
<link rel="stylesheet" type="text/css" href="/css/astyles.css">
<link rel="stylesheet" type="text/css" href="/css/globals.css">

<!--STYLES END-->
</head>
<body>
<h1>404 resource not found</h1>

<!--SCRIPT START-->
<script type="text/javascript" src="/js/libs/jquery.1.11.3.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

<!--SCRIPT END-->

</body>
</html>
