<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trails example</title>

  <!--STYLES START-->
<link rel="stylesheet" type="text/css" href="/css/astyles.css">
<link rel="stylesheet" type="text/css" href="/css/globals.css">
<link rel="stylesheet" type="text/css" href="/css/responsive.css">

<!--STYLES END-->
</head>
<body>
<div class="main">
  <article>
    <h1>Trails example is running !</h1>

    <div>
      <img src="/images/logoTrails.png" title="logo Trails"/>
      <p>This example is working with trailpack-express4 as web server, trailpack-gulp as assets builder !</p>

      <p>- Jimmy</p>
    </div>
  </article>

</div>

<!--SCRIPT START-->
<script type="text/javascript" src="/js/libs/jquery.1.11.3.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

<!--SCRIPT END-->

</body>
</html>
